@font-face {
    src: url("fonts/Inter-Regular.ttf");
    src: url("fonts/Inter-Bold.ttf");
    font-family: sans-serif;

}
body{
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 14px;
}
header{
    display: flex;
    flex-direction: column;
}

.box__login_button__addAdv{
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    background-color:#1E293B;
    height: 52px;
}
.login_button{
    background: none;
    border: none;
    color: white;

}
.login_button_img{
    height: 15px;
    width: 15px;
}
.addAdv{
    background:#3B82F6;
    color: white;
    border: none;
    border-radius: 4px;
    height: 60%;
    margin-right: 14.7%;
}
.add_adv_img{
    padding-right: 5px;
    padding-left: 5px;
}
.desk__categories__search__searchBut{
    display: flex;
    margin-left: 14.7%;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.adv_Desk_Name{
    padding-right: 24px;
    color: #1E293B;
}
.categories_list{
    color:#3B82F6;
    border-radius: 4px;
    border:1px solid #3B82F6;
    height: 30%;
    padding: 0.5% 20px 0.5% 8px;

}
.input_search__searchBut{
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: 10px;
    height: 36px;
    padding: 8px 12px;
}
.input_search{
    border: 0.5px solid #CBD5E1;
    border-radius: 4px 0 0 4px;
    width: 84%;
}
.search_But{
    display: flex;
    border-radius: 0 4px 4px 0;
    border: none;
    background:#3B82F6;
    color: white;
    align-items: center;
    padding-right: 2px;
}
.search_img{
    padding-left: 10px;
    padding-right: 10px;
}
main{
    margin-left: 14.7%;
    margin-right: 14.7%;
}
.main_block_name{
    color: #1E293B;
}
.table_Row{
    display: flex;
    flex-direction: row;
}
.adv{
    height: 366px;
    width: 306px;
    margin-right: 24px;
    margin-bottom: 32px ;
}
.adv_Name{
    color: #3B82F6;
    font-size: 18px;
}
.adv_Price{
    font-size: 18px;
}
.adv_create_time{
    color: #64748B
}
.adv_address{
    color: #64748B;
}


.advImg {
    height: 65%;
    width: 100%;
    align-self: center;
    border-radius: 4px;
}